<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
  <dict>
    <key>angle</key>
    <integer>90</integer>
    <key>angleVariance</key>
    <real>19.87253379821777</real>
    <key>blendFuncDestination</key>
    <integer>1</integer>
    <key>blendFuncSource</key>
    <integer>770</integer>
    <key>duration</key>
    <integer>-1</integer>
    <key>emitterType</key>
    <integer>0</integer>
    <key>finishColorAlpha</key>
    <real>0.2171223908662796</real>
    <key>finishColorBlue</key>
    <integer>1</integer>
    <key>finishColorGreen</key>
    <real>0.4399999976158142</real>
    <key>finishColorRed</key>
    <integer>0</integer>
    <key>finishColorVarianceAlpha</key>
    <integer>0</integer>
    <key>finishColorVarianceBlue</key>
    <integer>0</integer>
    <key>finishColorVarianceGreen</key>
    <integer>0</integer>
    <key>finishColorVarianceRed</key>
    <integer>0</integer>
    <key>finishParticleSize</key>
    <real>30.26000022888184</real>
    <key>finishParticleSizeVariance</key>
    <integer>20</integer>
    <key>gravityx</key>
    <real>-619.243408203125</real>
    <key>gravityy</key>
    <real>-3006.10620117188</real>
    <key>maxParticles</key>
    <integer>867</integer>
    <key>maxRadius</key>
    <integer>100</integer>
    <key>maxRadiusVariance</key>
    <integer>0</integer>
    <key>minRadius</key>
    <integer>0</integer>
    <key>particleLifespan</key>
    <real>1.907899975776672</real>
    <key>particleLifespanVariance</key>
    <real>1.118399977684021</real>
    <key>radialAccelVariance</key>
    <integer>0</integer>
    <key>radialAcceleration</key>
    <integer>0</integer>
    <key>rotatePerSecond</key>
    <integer>0</integer>
    <key>rotatePerSecondVariance</key>
    <integer>0</integer>
    <key>rotationEnd</key>
    <integer>-15</integer>
    <key>rotationEndVariance</key>
    <integer>0</integer>
    <key>rotationStart</key>
    <integer>-15</integer>
    <key>rotationStartVariance</key>
    <integer>0</integer>
    <key>sourcePositionVariancex</key>
    <real>594.828125</real>
    <key>sourcePositionVariancey</key>
    <real>22.76315879821777</real>
    <key>sourcePositionx</key>
    <real>528.2191772460938</real>
    <key>sourcePositiony</key>
    <real>744.0392456054688</real>
    <key>speed</key>
    <integer>0</integer>
    <key>speedVariance</key>
    <integer>0</integer>
    <key>startColorAlpha</key>
    <real>0.3113606870174408</real>
    <key>startColorBlue</key>
    <integer>1</integer>
    <key>startColorGreen</key>
    <real>0.7599999904632568</real>
    <key>startColorRed</key>
    <real>0.4900000095367432</real>
    <key>startColorVarianceAlpha</key>
    <integer>0</integer>
    <key>startColorVarianceBlue</key>
    <integer>0</integer>
    <key>startColorVarianceGreen</key>
    <integer>0</integer>
    <key>startColorVarianceRed</key>
    <integer>0</integer>
    <key>startParticleSize</key>
    <real>40.36842060089111</real>
    <key>startParticleSizeVariance</key>
    <real>15.97368431091309</real>
    <key>tangentialAccelVariance</key>
    <integer>0</integer>
    <key>tangentialAcceleration</key>
    <integer>0</integer>
    <key>spriteFrameUuid</key>
    <string>d6d56dbf-f787-4017-8382-d7a0fc2e6cb1</string>
  </dict>
</plist>